<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="form-group">
        <label>Strokes:</label>
        <input class="form-control" type="text" id="txtStroke" value="1" placeholder="Enter Stroke" required />
    </div>
    <div class="form-group">
        <input id="lblResult" class="form-control" type="text" readonly />
        <label>Result as Json:</label>
        <textarea class="form-control xmlshow"></textarea>
    </div>
    <button class="btn btn-primary btn-large" onclick="GetFraz()">Request</button>

</div>
<script>
    function GetFraz() {

        $('#lblResult').val('Waiting...');

        //var urlExt1 = "http://extuts.com:8069/api/mip/GetSymbol";
        //var urlExt2 = "http://extuts.com:8069/api/mip/GetSymbols";

        var urlExt2 = "http://localhost:50012/api/mip/GetFraz";

        var strPoint1 = "0,113,0,113,0,113,1,113,5,113,8,113,13,115,22,120,30,124,38,129,45,135,54,142,63,150,69,156,75,163,80,168,84,172,85,174,88,177,88,179,90,182,91,183,92,185,95,189,95,190,96,192,98,195,99,195,100,197,101,198,102,199,103,200,102,198,102,193,102,187,102,179,102,170,102,160,102,154,102,144,104,131,105,119,107,105,109,95,109,87,111,80,111,74,111,68,111,61,111,55,111,52,111,47,113,41,113,36,114,30,114,26,115,23,116,21,116,17,117,14,117,12,117,10,117,8,117,7,117,4,117,3,117,2,118,1,118,0,119,0,120,0,122,0,127,0,131,0,136,0,143,0,151,0,160,0,170,0,179,0,189,0,199,0,211,0,220,0,229,0,239,0,247,0,255,0,267,0,276,0,283,0,292,0,300,0,309,0,319,0,324,0,332,0,339,0,346,0,355,0,360,0,366,0,371,0,379,0,383,0,390,0,398,0,405,0,410,0,417,0,421,0,427,0,430,0,435,2,439,2,441,2,444,2,446,2,448,2,450,2,452,2,453,2,454,2,455,2,458,2,460,2,462,2,465,2,466,2,467,2,468,2,469,2";
        var strPoint2 = "33,0,33,0,33,0,32,0,31,0,29,0,28,0,27,0,26,0,24,0,22,0,21,0,20,1,19,1,17,1,16,2,14,2,13,3,12,3,11,5,10,5,9,6,8,7,7,8,7,9,6,9,5,11,4,12,4,13,4,14,3,14,2,15,2,17,1,18,1,19,1,20,0,21,0,23,0,24,0,26,0,27,0,28,0,29,0,31,0,32,0,33,0,34,0,35,0,36,1,37,1,39,2,41,2,43,4,44,5,45,6,46,7,47,8,48,9,49,10,49,11,49,12,49,14,48,14,47,15,47,16,46,18,44,19,43,21,41,22,40,22,38,24,36,24,34,26,33,26,32,26,31,26,30,26,29,26,28,26,27,28,26,28,25,28,23,28,22,28,21,28,20,28,19,28,18,28,17,28,15,29,13,30,13,30,11,31,9,32,9,32,8,32,6,33,6,33,5,34,4,34,3,34,2,34,3,34,4,34,5,34,6,34,8,34,9,34,10,34,12,34,13,34,14,34,15,34,16,34,17,34,19,34,20,32,22,32,23,32,25,32,26,32,27,32,28,32,29,32,30,33,31,33,32,34,32,34,33,35,35,36,36,37,37,37,38,37,39,38,40,38,41,39,42,39,43,41,45,41,46,42,47,42,48,43,48,44,49,46,49,47,49,48,49,50,49,51,49,52,49,53,49,55,49,56,49,57,49,58,49,59,49";
        var strPoint3 = "0,0,0,0,0,0,1,0,3,0,4,1,6,1,7,1,9,1,10,1,15,1,17,1,21,3,24,3,26,3,29,3,31,4,32,4,33,4,34,4,36,4,37,4,38,4,39,4,40,4,41,4,42,4,43,4,45,4,46,4,47,4,48,4,49,4,51,4,52,4,54,4,55,4,56,4,57,4,58,4,59,4,60,4,61,4,63,4,64,4,65,4,66,4,67,4,68,4,70,4,71,3,72,3,73,3";
        var strPoint4 = "2,0,2,0,2,0,2,1,2,2,2,3,1,4,0,4,0,5,0,6,0,8,0,9,0,10,0,11,0,12,0,13,0,14,0,15,0,17,0,18,0,19,0,20,0,21,0,22,0,23,0,24,0,26,0,27,0,28,0,29,0,30,0,31,0,33,0,34,0,35,0,36,0,37,0,38,0,39,0,40,0,42,0,43,0,44,0,45,0,46,0,47,0,49,0,50";
        var strPoint5 = "1,0,1,0,1,0,1,1,1,3,1,4,1,7,1,9,1,11,1,13,1,15,1,17,1,21,1,24,1,26,1,28,1,30,1,33,1,35,1,36,1,38,1,39,1,41,1,43,1,44,1,46,1,47,1,48,1,50,1,52,1,54,1,55,1,56,1,57,1,58,1,59,1,61,1,62,1,63,1,64,1,65,1,67,1,68,1,69,1,70,1,71,0,72,0,74,0,75,0,74,0,73,0,72,0,71,0,70,0,69,0,68,0,66,0,65,0,64,0,63,1,62,1,61,2,59,2,58,2,57,2,56,3,56,3,55,3,54,5,52,5,51,5,50,7,49,7,48,7,47,7,45,8,44,8,43,9,42,10,41,11,39,11,38,13,37,13,36,14,36,14,35,15,35,16,35,17,35,19,35,21,36,21,37,23,38,23,39,24,39,26,40,26,41,28,42,28,43,30,44,31,46,32,46,33,47,33,49,34,50,34,51,34,52,35,53,36,54,36,55,36,56,37,58,37,59,37,60,37,62,37,63,37,64,34,66,34,67,33,69,32,69,32,70,32,71,30,72,29,72,28,73,28,74,27,74,26,74,24,75,23,75,22,76,21,76,20,76,19,76,18,77,17,77,15,77,14,77,13,77,12,77,11,77,10,77,8,77,8,78,7,78,6,78,5,78,4,78,3,78,2,78,1,78";

        var strokes = [];
        var stroke = { Points: strPoint1, TranslateX: 451, TranslateY: 21 };
        var StrokeData2 = { Points: strPoint2, TranslateX: 604, TranslateY: 108 };
        var StrokeData3 = { Points: strPoint3, TranslateX: 740, TranslateY: 111 };
        var StrokeData4 = { Points: strPoint4, TranslateX: 778, TranslateY: 95 };
        var StrokeData5 = { Points: strPoint5, TranslateX: 857, TranslateY: 68 };

        strokes.push(stroke);
        strokes.push(StrokeData2);
        strokes.push(StrokeData3);
        strokes.push(StrokeData4);
        strokes.push(StrokeData5);

        var request = JSON.stringify(strokes);

        $.ajax({
            contentType: "application/json",
            type: 'GET',
            url: urlExt2,
            data: { request: request },
            success: (function (in_data, textStatus, xmlhttp) {
                var result = xmlhttp.responseText; // this is the server's response string
                alert(result);
            }),
            error: (function (jqXHR, textStatus, errorThrown) {
                alert(textStatus);
            }
           )
        });



    }
</script>